# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Weather Raw Data (High Volume GRIB Binaries)
*.grib
*.grib2
*.grib*
*.pgrb*
*.idx
*.nc.tmp
*.tmp

.venv/
env/
venv/
.DS_Store
Thumbs.db
.vscode/
.idea/

# Presentations & Docs
*.pptx
ppt/
~$*
ppt_text.txt